In [1]:
# Indian food list
indian_food = ["Biryani", "Butter Chicken", "Paneer Tikka", "Samosa", "Masala Dosa"]

# Chinese food list
chinese_food = ["Sweet and Sour Chicken", "Kung Pao Chicken", "Spring Rolls", "Dim Sum", "Fried Rice"]

# Japanese food list
japanese_food = ["Sushi", "Ramen", "Tempura", "Udon", "Sashimi"]

In [14]:
for i in range(1,6):
    s=i**2
    if s%2==1:
        print(s)

1
9
25

In [15]:
#While loop

In [ ]:
s=0
while s<11:
    if s %2==0:
        print(s)
        s=s+1

0

In [ ]:
#Functions

In [13]:
# Define the sum function
def sum(a, b=0):
    c = a + b
    print("the first one: ",a)
    print("the second one: ",b)
    return c

# Call the sum function with arguments 4 and 5
res = sum(5,8)

# Print the result
print(res)

the first one:  5
the second one:  8
13

In [14]:
#Documentation Strings

In [15]:
# Define the sum function
def sum(a, b=0):
  '''
the quick browm fpx mumps over the lazy dog.
'''  c = a + b
    print("the first one: ",a)
    print("the second one: ",b)
    return c

# Call the sum function with arguments 4 and 5
res = sum(5,8)

# Print the result
print(res)

SyntaxError: invalid syntax (1144395725.py, line 5)

In [4]:
dish=input("enter your dish: ")

enter your dish: Ramen

In [5]:
if dish in indian_food:
    print("it is indian food")
elif dish in chinese_food:
    print("it is chinese")
elif dish in japanese_food:
    print('it is japanese food')
else:
    print("not realated to the anycountry")

it is japanese food

In [6]:
num_str = input("Enter a number: ")
num = int(num_str)

if num % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

Enter a number: 5
The number is odd.

In [7]:
#FOR LOOP

In [13]:
expenditures = [1500, 300, 200, 100, 50, 150, 100]

In [14]:
total = 0
for i in expenditures:
    total += i
print(total)

2400

In [15]:
#print 1 to 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [24]:
key_location="chair"
locations=['garage','chair','living_room']
for i in locations:
    if i==key_location:
        print('key is found', i)
        pass
    else:
        print("key is not found")

key is not found
key is found chair
key is not found