In [1]:
#lets start this night full of exercies

In [2]:
#Write a Python program to create a tuple.

In [3]:
a=()

In [5]:
print(type(a))

<class 'tuple'>

In [ ]:
#Write a Python program to create a tuple of numbers and print one item.

In [ ]:
a=(1,2,3,4,5)

In [6]:
b=5,

In [7]:
b

(5,)

In [8]:
print(type(b))

<class 'tuple'>

In [9]:
# Write a Python program to add an item to a tuple.

In [10]:
a=(1,2,3,4,5)

In [13]:
b=list(a)

In [14]:
b

[1, 2, 3, 4, 5]

In [15]:
b.append(6)

In [16]:
b

[1, 2, 3, 4, 5, 6]

In [17]:
tuple(b)

(1, 2, 3, 4, 5, 6)

In [18]:
#Write a Python program to convert a tuple to a string.

In [19]:
a=(1,2,3)

In [22]:
b=str(a)

In [23]:
print(type(b))

<class 'str'>

In [24]:
#Write a Python program to find repeated items in a tuple.

In [35]:
def find_repeated_items(names):
    repeated_items = []
    for i in names:
        if names.count(i) > 1 and i not in repeated_items:
            repeated_items.append(i)
    return repeated_items
names = (1, 2, 3, 4, 5, 6, 2, 3, 4, 5, 5)
result = find_repeated_items(names)
print(result)

[2, 3, 4, 5]

In [36]:
# Write a Python program to find the length of a tuple.

In [37]:
len(names)

11

In [38]:
#Write a Python program to reverse a tuple.

In [39]:
names[::-1]

(5, 5, 4, 3, 2, 6, 5, 4, 3, 2, 1)

In [40]:
#Write a Python program to print a tuple with string formatting.
#Sample tuple : (100, 200, 300)
#Output : This is a tuple (100, 200, 300)

In [41]:
z=(100, 200, 300)

In [44]:
print("This is a tuple ",z)

This is a tuple  (100, 200, 300)

In [62]:
#dictionary

In [63]:
#Rename key of a dictionary

In [64]:
countries = {
    "USA": "United States of America",
    "UK": "United Kingdom",
    "Canada": "Canada",
    "Australia": "Australia",
    "Japan": "Japan",
    "India": "India",
    "Germany": "Germany",
    "France": "France",
    "Brazil": "Brazil",
    "China": "China"
}

# Print the dictionary
print(countries)

{'USA': 'United States of America', 'UK': 'United Kingdom', 'Canada': 'Canada', 'Australia': 'Australia', 'Japan': 'Japan', 'India': 'India', 'Germany': 'Germany', 'France': 'France', 'Brazil': 'Brazil', 'China': 'China'}

In [65]:
countries.update({'China':'Superman'})

In [67]:
countries

{'USA': 'United States of America',
 'UK': 'United Kingdom',
 'Canada': 'Canada',
 'Australia': 'Australia',
 'Japan': 'Japan',
 'India': 'India',
 'Germany': 'Germany',
 'France': 'France',
 'Brazil': 'Brazil',
 'China': 'Superman'}

In [71]:
countries.pop('China')

'Superman'

In [73]:
countries

{'USA': 'United States of America',
 'UK': 'United Kingdom',
 'Canada': 'Canada',
 'Australia': 'Australia',
 'Japan': 'Japan',
 'India': 'India',
 'Germany': 'Germany',
 'France': 'France',
 'Brazil': 'Brazil'}