In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv(r"C:\Users\91944\Downloads\drug200.csv")

In [57]:
df

     Na_to_K   Drug  Age_n  Sex_n  BP_n  Cholesterol_n
0     25.355  drugY      8      0     0              0
1     13.093  drugC     57      1     1              0
2     10.114  drugC     30      1     1              0
3      7.798  drugX     12      0     2              0
4     18.043  drugY     44      0     1              0
..       ...    ...    ...    ...   ...            ...
195   11.567  drugC     39      0     1              0
196   12.006  drugC      1      1     1              0
197    9.894  drugX     35      1     2              0
198   14.020  drugX      8      1     2              1
199   11.349  drugX     24      0     1              1

[200 rows x 6 columns]

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
label_encoder=LabelEncoder()

In [8]:
missing_value=df.isnull().sum()

In [9]:
missing_value

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    object
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), object(5)
memory usage: 9.5+ KB

In [13]:
df['Age']=pd.to_numeric(df['Age'], errors='coerce')

In [15]:
print(df.dtypes)

Age            float64
Sex             object
BP              object
Cholesterol     object
Na_to_K        float64
Drug            object
dtype: object

In [16]:
df.head()

    Age Sex      BP Cholesterol  Na_to_K   Drug
0  23.0   F    HIGH        HIGH   25.355  drugY
1   NaN   M     LOW        HIGH   13.093  drugC
2  47.0   M     LOW        HIGH   10.114  drugC
3  28.0   F  NORMAL        HIGH    7.798  drugX
4  61.0   F     LOW        HIGH   18.043  drugY

In [24]:
X=df.drop(columns=['Drug'])

In [25]:
X.head()

    Age Sex      BP Cholesterol  Na_to_K
0  23.0   F    HIGH        HIGH   25.355
1   NaN   M     LOW        HIGH   13.093
2  47.0   M     LOW        HIGH   10.114
3  28.0   F  NORMAL        HIGH    7.798
4  61.0   F     LOW        HIGH   18.043

In [26]:
y = df['Drug']

In [28]:
y.head()

0    drugY
1    drugC
2    drugC
3    drugX
4    drugY
Name: Drug, dtype: object

In [31]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

In [29]:
df['Age_n','sex_n','BP_n','Cholestrol_n'']=df.fit_transform(df)

SyntaxError: unterminated string literal (detected at line 1) (800147688.py, line 1)

In [34]:
df['Age_n'] = label_encoder.fit_transform(df['Age'])
df['Sex_n'] = label_encoder.fit_transform(df['Sex'])
df['BP_n'] = label_encoder.fit_transform(df['BP'])
df['Cholesterol_n'] = label_encoder.fit_transform(df['Cholesterol'])

In [38]:
df.head()

,Age,Sex,BP,Cholesterol,Na_to_K,Drug,Age_n,Sex_n,BP_n,Cholesterol_n
0,23.0,F,HIGH,HIGH,25.355,drugY,8,0,0,0
1,NaN,M,LOW,HIGH,13.093,drugC,57,1,1,0
2,47.0,M,LOW,HIGH,10.114,drugC,30,1,1,0
3,28.0,F,NORMAL,HIGH,7.798,drugX,12,0,2,0
4,61.0,F,LOW,HIGH,18.043,drugY,44,0,1,0

In [39]:
df.drop(columns=['Age', 'Sex', 'BP', 'Cholesterol'], inplace=True)

In [40]:
df.head()

   Na_to_K   Drug  Age_n  Sex_n  BP_n  Cholesterol_n
0   25.355  drugY      8      0     0              0
1   13.093  drugC     57      1     1              0
2   10.114  drugC     30      1     1              0
3    7.798  drugX     12      0     2              0
4   18.043  drugY     44      0     1              0

In [41]:
X.head()

    Age Sex      BP Cholesterol  Na_to_K
0  23.0   F    HIGH        HIGH   25.355
1   NaN   M     LOW        HIGH   13.093
2  47.0   M     LOW        HIGH   10.114
3  28.0   F  NORMAL        HIGH    7.798
4  61.0   F     LOW        HIGH   18.043

In [42]:
y.head()

0    drugY
1    drugC
2    drugC
3    drugX
4    drugY
Name: Drug, dtype: object

In [43]:
y_encoded =label_encoder.fit_transform(y)

In [44]:
y_encoded

array([4, 2, 2, 3, 4, 3, 4, 2, 4, 4, 2, 4, 4, 4, 3, 4, 3, 0, 2, 4, 4, 4,
       4, 4, 4, 4, 4, 3, 4, 4, 3, 1, 3, 4, 3, 3, 0, 3, 3, 3, 4, 1, 4, 3,
       3, 3, 0, 2, 4, 4, 4, 3, 4, 4, 1, 2, 1, 4, 3, 4, 4, 0, 4, 3, 1, 4,
       0, 3, 4, 4, 1, 4, 3, 4, 4, 4, 0, 4, 0, 3, 1, 3, 2, 0, 2, 1, 3, 4,
       4, 4, 4, 4, 4, 4, 4, 3, 4, 4, 4, 4, 0, 0, 2, 3, 4, 3, 3, 4, 1, 4,
       0, 3, 3, 3, 3, 4, 3, 3, 0, 4, 4, 4, 4, 4, 1, 4, 4, 3, 4, 3, 4, 4,
       3, 4, 4, 3, 1, 0, 1, 3, 0, 4, 1, 4, 0, 3, 3, 0, 3, 2, 0, 1, 3, 3,
       4, 2, 0, 4, 2, 3, 3, 1, 3, 4, 4, 4, 4, 3, 4, 0, 3, 3, 4, 4, 0, 4,
       0, 4, 4, 4, 4, 3, 3, 4, 4, 4, 1, 0, 4, 4, 4, 0, 4, 2, 4, 2, 2, 3,
       3, 3])

    Age Sex      BP Cholesterol  Na_to_K
0  23.0   F    HIGH        HIGH   25.355
1   NaN   M     LOW        HIGH   13.093
2  47.0   M     LOW        HIGH   10.114
3  28.0   F  NORMAL        HIGH    7.798
4  61.0   F     LOW        HIGH   18.043

In [46]:
X.dtypes

Age            float64
Sex             object
BP              object
Cholesterol     object
Na_to_K        float64
dtype: object

In [47]:
X = df[['Na_to_K', 'Age_n', 'Sex_n', 'BP_n', 'Cholesterol_n']]

In [48]:
X

     Na_to_K  Age_n  Sex_n  BP_n  Cholesterol_n
0     25.355      8      0     0              0
1     13.093     57      1     1              0
2     10.114     30      1     1              0
3      7.798     12      0     2              0
4     18.043     44      0     1              0
..       ...    ...    ...   ...            ...
195   11.567     39      0     1              0
196   12.006      1      1     1              0
197    9.894     35      1     2              0
198   14.020      8      1     2              1
199   11.349     24      0     1              1

[200 rows x 5 columns]

In [49]:
from sklearn.tree import DecisionTreeClassifier

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [53]:
clf = DecisionTreeClassifier()

# Fitting the classifier on the training data
clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [54]:
y_pred=clf.predict(X_test)

In [55]:
y_pred

array(['drugX', 'drugY', 'drugX', 'drugC', 'drugY', 'drugY', 'drugY',
       'drugX', 'drugA', 'drugX', 'drugA', 'drugX', 'drugY', 'drugA',
       'drugB', 'drugY', 'drugB', 'drugX', 'drugC', 'drugY', 'drugB',
       'drugX', 'drugX', 'drugY', 'drugY', 'drugY', 'drugC', 'drugX',
       'drugY', 'drugX', 'drugY', 'drugC', 'drugC', 'drugY', 'drugA',
       'drugY', 'drugX', 'drugA', 'drugY', 'drugA'], dtype=object)

In [56]:
from sklearn.metrics import accuracy_score

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 1.0

In [62]:
# Prepare the test data point
import numpy as np

test_data_point = np.array([[13.093, 67, 0, 0, 1]])  # Shape should be (1, 5)

# Make predictions for the test data point
predicted_label = clf.predict(test_data_point)

print("Predicted label for the test data point:", predicted_label)

Predicted label for the test data point: ['drugB']

C:\Users\91944\.anaconda\Anaconda_new\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(